@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

/* Hover Effects */
.material-symbols-outlined{
    padding: 10px;
}

.hover:hover{
    background-color: #f1f3f4;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

.tooltip{
    position: relative;
}

.tooltip-text{
    position: absolute;
    left: 0;
    top: 105%;
    font-size: 0.78rem;
    white-space: nowrap;
    background-color: #323232;
    opacity: 80%;
    color: white;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    z-index: 1;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
}
